@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

body {
  background-color: #1d1e22;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  padding: 5px;
  font-family: 'Staatliches', cursive;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  font-family: 'Staatliches', cursive;
}

.nav {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.nav h1 {
  margin: 0;
  font-size: 30px;
}

.nav a {
  margin: 0;
  line-height: 1;
  padding-right: 20px;
  text-decoration: none;
}
